:root {
    --color-white: #F9F3EE;
    --color-brown: #503D25;
    --color-grey: #999999;
    --color-black: #000000;

    --xl-text: 8vh;
    --l-text: 6vh;
    --m-text: 4vh;
    --s-text: 2vh;
}

* {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--color-black);
    font-size: var(--s-text);
}

h1 {
    font-size: var(--xl-text);
}

h2 {
    font-size: var(--l-text);
}

p {
    font-size: var(--m-text);
}

body {
    background-image: url("../assets/beanBackground.svg");
    background-size: contain;
    background-repeat: repeat-y;
    background-color: var(--color-white);

    color: var(--color-brown);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: var(--color-white);
    border-bottom: 1px solid var(--color-grey);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1000;
}

.logo {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: var(--m-text);
}

main {
    padding-top: 100px;
}

footer {
    width: 100%;
    height: 700px;
    background-image: url("../assets/beanCrateFooter.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    display: flex;
    flex-direction: column;
}

.footerLink {
    position: relative;
    top: 63%;
    text-align: center;
    cursor: pointer;
    font-size: var(--l-text);
    font-weight: bold;
    color: var(--color-brown);
}
.footerLink:hover {
    color: var(--color-white);
}

@media (max-width: 800px) {
    body {
        background-image: url("../assets/beanBackgroundMobile.svg");
    }

    footer {
        background-image: url("../assets/beanCrateFooterMobile.svg");
        background-size: 100% 100%;
    }

    :root{
        --xl-text: 4vh;
        --l-text: 3vh;
        --m-text: 2vh;
        --s-text: 1vh;
    }
}

@media (max-width: 600px) {
    footer {
        background-size: contain;
    }
}