main {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

div {
    display: flex;
    gap: 10px;
    width: 50vw;
}

/* Dot Leader from https://sqkhor.medium.com/css-dot-leaders-in-table-of-content-db26614665df */
ul {
    font-size: var(--s-text);
    padding: 0;
}

li {
    display: flex;
    flex-direction: column;
}

span {
    white-space: nowrap;
    font-size: var(--m-text);
}

.priceTag {
    text-align: right;
}

.dotLeader {
    height: 32px;
    overflow: hidden;
    word-break: break-word;
    font-size: 32px;
}

.dotLeader:after {
    content: '....................................................................................................';
    text-align: center;
}
