
h1 {
    font-size: 48px;
}

/* Dot Leader from https://sqkhor.medium.com/css-dot-leaders-in-table-of-content-db26614665df */
ul {
    padding: 0;
    font-size: 18px;
}

li {
    display: flex;
    gap: 10px;
    width: 60dvw;
}

span {
    white-space: nowrap;
    font-size: 32px;
}

.priceTag {
    text-align: right;
}

.dotLeader {
    height: 32px;
    overflow: hidden;
    word-break: break-word;
    font-size: 32px;
}

.dotLeader:after {
    content: '..................................................';
    text-align: center;
}
